@font-face {
  font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Light.otf'),
         url('/fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy';
      src: url('/fonts/Gilroy-Regular.ttf');
      font-weight: 500;
      font-style: normal;
      font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy';
      src: url('/fonts/Gilroy-Medium.ttf');
      font-weight: 600;
      font-style: normal;
      font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy';
      src: url('/fonts/Gilroy-Bold.ttf');
      font-weight: 700;
      font-style: normal;
      font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy';
      src: url('/fonts/Gilroy-ExtraBold.otf');
      font-weight: 800;
      font-style: normal;
      font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy';
      src: url('/fonts/Gilroy-Heavy.ttf');
      font-weight: 900;
      font-style: normal;
      font-display: swap;
  }